.search-notebook{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
}
.notebook-info-list{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}
.miss-result-show{
    margin-top: 150px;
}
.notebook-plus-g{
    color: #409EFF
}
.notebook-search-g{
    color: #409EFF
}