.notelist-title-line{
    border-bottom: groove;
}
.notelist-notebookname{
    font-size: 17px;
}
.search-note{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
}
.note-info-list{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}
.miss-result-show-note{
    margin-top: 150px;
}
.notelist-notebook-name-input{
    width: 150px;
}
.modify-notebook-name-input-button{
    position: absolute;
    top: 85px;
    left: 265px;
}
.remove-hints-show{
    width: 300px;
    height: 125px;
    left: 515px;
    top: 250px;
    background: white;
}
.note-search-g{
    color: #409EFF
}